
<br>
<br>
<h2>Standort des Fitness-Studio<h2>
<span style="font-size:0.6em">Kontakt:</span><br>
<span style="font-size:0.5em">Adresse: Badensche Straße 52</span><br>
<span style="font-size:0.5em">10825 Berlin, Deutschland</span><br>
<span style="font-size:0.5em">Telefon:+49 30 308770</span><br>

	<div style="width: 600px"><iframe width="600" height="300" src="http://regiohelden.de/google-maps/map.php?width=600&amp;height=300&amp;hl=de&amp;q=Badensche%20Stra%C3%9Fe%2052+(HWR%20Berlin%20)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a style="font-size: 9px;" href="http://www.regiohelden.de/google-maps/" style="font-size: 9px;">Google Maps Generator</a> by <a href="http://www.regiohelden.de/">RegioHelden</a></iframe><br /><span style="font-size: 9px;"><a style="font-size: 9px;" href="http://www.regiohelden.de/google-maps/" style="font-size: 9px;">Google Maps Generator</a> by <a href="Maps" style="font-size: 9px;">RegioHelden</a></span></div>
<br>
<h2>FAQ</h2>
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					Was kostet ein die Teilnahme an der Train-App?        </a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					Die Teilnahme ist völlig kostenlos. Jeder darf daran teilnehmen.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
							Wie viele Teilnehmer dürfen am Kurs teilnehmen?
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						Insgesamt dürfen bis zu 9 Teilnehmer an einem Kurs teilnehmen.      </div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
								Wie lange dauert ein Kurs?
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							Ein Kurs dauert zwischen 45 bis 90 Minuten.
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
								Wie viele Trainer gibt es ingesamt? 
							</a>
						</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">
							Wir sind stolz darauf, dass wir Ihnen 5 Trainer für unsere Kurse anbieten können. 

						</div>
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
								Welche Art von Abo-Varianten gibt es?        </a>
							</h4>
						</div>
						<div id="collapse5" class="panel-collapse collapse">
							<div class="panel-body">
								Es gibt 3 Abo-Varianten:
								<ul>
									<li>Abo1 - 10 Termine (12 Wochen Laufzeit)</li>
									<li>Abo2 - 20 Termine (24 Wochen Laufzeit)</li>
									<li>Abo3 - 40 Termine (48 Wochen Laufzeit)</li>
								</ul>        </div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
										Wann darf ich mich für Fixtermine eintragen?
									</a>
								</h4>
							</div>
							<div id="collapse6" class="panel-collapse collapse">
								<div class="panel-body">
									Sobald Sie die erweiterte AGB unterschrieben haben können Sie sich gerne bei uns für Fixtermine eintragen.
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
										Gibt es auch Kurse vor Ort?</a>
									</h4>
								</div>
								<div id="collapse7" class="panel-collapse collapse">
									<div class="panel-body">
										Sie können natürlich auch gerne bei uns im Studio an einem Kurs teilnehmen. Die Adresse finden Sie oben auf der Info-Seite.
									</div>
								</div>
							</div>
						</div>

						<br>
						<br>
						<h2> Sie haben noch immer Fragen an uns? Kontaktieren Sie uns doch über Skype!<h2>
							<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
							<div id="SkypeButton_Call_o.kavasoglu_1">
								<script type="text/javascript">
								Skype.ui({
									"name": "dropdown",
									"element": "SkypeButton_Call_o.kavasoglu_1",
									"participants": ["o.kavasoglu"],
									"imageSize": 32
								});
								</script>
							</div>
							<br>
							<br>
							<br>
							<br>




							<style>
							html {
								background: url(http://www.feelfantasticparties.com/wp-content/uploads/2012/04/Feel-Fantastic-Hen-Parties-Pole-Fitness.jpg) no-repeat center center fixed; 
								-webkit-background-size: cover;
								-moz-background-size: cover;
								-o-background-size: cover;
								background-size: cover;
							}
							body {
								padding-top: 20px;
								font-size: 16px;
								font-family: "Open Sans",serif;
								background: transparent;
							}
							h1 {
								font-family: "Abel", Arial, sans-serif;
								font-weight: 400;
								font-size: 40px;
							}
							/* Override B3 .panel adding a subtly transparent background */
							.panel {
								background-color: rgba(255, 255, 255, 0.9);
							}
							.margin-base-vertical {
								margin: 40px 0;
							}
							</style>
