<!-- Header und Buttons -->
<h1>bearbeite deinen Trainingsplan</h1>
<%= render 'form' %>
<%= link_to 'Back', trainingsplans_path %>
<!-- hier wird der Hintergrund erzeugt -->
<style>
  html {
    background: url(http://www.romanohouse.com/images/fitness/bg-fitness.jpg
) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body {
    padding-top: 20px;
    font-size: 16px;
    font-family: "Open Sans",serif;
    background: transparent;
  }
  h1 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
  }
  .panel {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .margin-base-vertical {
    margin: 40px 0;
  }
  </style>